doctype html
html
  head
    meta(charset='utf-8')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(.) styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
  body(ng-app='workspaceApp')
    //if lte IE 8
      p.browsehappy
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    // Add your site or application content here
    .header
      header(ng-include="'views/nav.html'")
      // it may be better to include header in a content wrapper ~ container div
    .container-fluid.text-center
      // <div class="template-modal" ng-include="'template.url"></div>
      div(ui-view='')
    .footer
      footer(ng-include="'views/footer.html'")
    // Google Analytics: change UA-XXXXX-X to be your site's ID
    script.
      !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
      (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
      r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
      }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    // build:js(.) scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/firebase/firebase.js')
    script(src='bower_components/angularfire/dist/angularfire.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-touch/angular-touch.js')
    script(src='bower_components/lodash/lodash.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    // endbower
    // endbuild
    // build:js({.tmp,app}) scripts/scripts.js
    script(src='scripts/app.js')
    script(src='scripts/controllers/api.js')
    // <script src="scripts/controllers/login.js"></script>
    // <script src="scripts/ng-fire.js"></script>
    script(src='scripts/controllers/ds1.js')
    script(src='scripts/controllers/ds2.js')
    script(src='scripts/controllers/ds3.js')
    script(src='scripts/controllers/ds4.js')
    script(src='scripts/controllers/ds5.js')
    script(src='scripts/controllers/ds12.js')
    script(src='scripts/controllers/ds13.js')
    script(src='scripts/controllers/ds14.js')
    script(src='scripts/controllers/ds15.js')
    script(src='scripts/controllers/main.js')
    script(src='scripts/controllers/about.js')
    // endbuild
