html
  body
    h4 dynds - Dynamic Datasheet by Zephyr Phuc
    p
      | This is the about view for the webApp. 
      | Contact: 
      a(href='mailto:zephyrtekla@mail.com?Subject=Hello!', target='_top') zephyrtekla@mail.com


