.navbar.navbar-default(role='navigation')
  .container
    .navbar-header(ng-controller='ModalViewInit')
      div(ng-include="'views/modals/md.html'")
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#js-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar toggle
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#/') workspace
      div
        p#test
    #js-navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          a(ui-sref-active='active', ui-sref='main') Home
        li
          .btn-group(uib-dropdown='', keyboard-nav='', dropdown-append-to='appendToEl')
            button#btn-append-to.btn.btn-primary(type='button', uib-dropdown-toggle='')
              | Flowcharts 
              span.caret
            ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='btn-append-to')
              li(role='menuitem')
                a(ui-sref-active='active', ui-sref='datasheet1') Flowchart Request
              li(role='menuitem')
                a(ui-sref-active='active', ui-sref='datasheet2') New Prototype Flowchart
              li(role='menuitem')
                a(ui-sref-active='active', ui-sref='datasheet3') Panel array drawing
              li(role='menuitem')
                a(ui-sref-active='active', ui-sref='datasheet4') Time study log
              li.divider
              li(role='menuitem')
                a(ui-sref-active='active', ui-sref='datasheet5') Flowchart request for insufficient info
        li
          .btn-group(uib-dropdown='', keyboard-nav='', dropdown-append-to='appendToEl')
            button#btn-append-to.btn(type='button', uib-dropdown-toggle='')
              | References 
              span.caret
            ul.dropdown-menu(uib-dropdown-menu='', role='menu', aria-labelledby='btn-append-to')
              li(role='menuitem')
                a(ui-sref-active='active', ui-sref='datasheet12') DataSheet12
              li(role='menuitem')
                a(ui-sref-active='active', ui-sref='datasheet13') DataSheet13
              li(role='menuitem')
                a(ui-sref-active='active', ui-sref='datasheet14') DataSheet14
              li.divider
              li(role='menuitem')
                a(ui-sref-active='active', ui-sref='datasheet15') DataSheet15
        li
          a(ui-sref-active='active', ui-sref='about') About
        li
          a.btn.btn-default.btn-sm(type='button', ui-sref-active='active', ui-sref='404') Back2Mantis